.headerLow {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
.addList {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.imgRes {
  // position: absolute;
  left: 45.9%;
  right: 45.97%;
  top: 29.33%;
  bottom: 58.15%;
  // transform: matrix(1, 0, 0, -1, 0, 0);
}
.location {
  //     width: 163px;
  // height: 30px;
  // left: 659px;
  // top: 313px;
  //   margin-left: 47%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #2c2c2c;
}
.temp {
  //     position: absolute;
  // left: 46.83%;
  // right: 47.09%;
  // top: 37.58%;
  // bottom: 55.3%;
  margin-top: 1%;
  margin-left: 48%;
  font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #2c2c2c;
}
.info {
  box-sizing: border-box;
  position: absolute;
  width: 70%;
  height: 15%;
  left: 15%;
  top: 53%;

  background: #fdfcfc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 11px;
}
.topRow {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 1%;
}
.topRowDis {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #5a5a5a;
}
.RowDis {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  color: #535353;
}

.bottomRow {
  box-sizing: border-box;
  position: absolute;
  width: 70%;
  height: 35%;
  left: 15%;
  top: 73%;
  background: #fdfcfc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 11px;
}

.heading {
  // width: 181px;
  // height: 30px;
  // left: 294px;
  // top: 659px;
  text-align: left;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 3%;
  /* identical to box height */
  color: #c4c4c4;
}
.lengthDay {
  // width: 215px;
  // height: 23px;
  // left: 294px;
  // top: 804px;
  margin-top: 13%;
  margin-left: 3%;
  margin-bottom: 5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  color: #9a9a9a;
}
.remDay {
  //     width: 250px;
  // height: 23px;
  // left: 294px;
  // top: 869px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-top: 1%;
  margin-left: 3%;
  margin-bottom: 8%;
  color: #9a9a9a;
}
