.card {
  //   border: 1px solid black;
  //   height: 30%;
  //   width: 20%;
  margin-left: 27%;
  position: absolute;
  width: 400px;
  height: 220px;

  background: #fdfcfc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
}
